/* 
BOOK UI FROM:
https://codepen.io/saranya-mohan/pen/WNGjWWd
 */
@import url("https://kit.fontawesome.com/a076d05399.js");
:root {
  --mobile-width: 325px;
  --mobile-height: 670px;
  --mobile-radius: 25px;
  --separator-height: 500px;
  --bg: #fdf3f2;
  --box-shadow-color: #c7b8b73b;
  --mobile-bg: #fdeae6;
  --intro-bg: #eed7d1;
  --font-color: #807b7b;
  --transition: transform 0.7s ease-in-out;
}
.mobile-layout {
  width: var(--mobile-width);
  height: var(--mobile-height);
  margin: 30px 0;
  border-radius: var(--mobile-radius);
  perspective: 500px;
  overflow: hidden;
  color: var(--font-color);
  box-shadow: 36px 36px 50px 15px var(--box-shadow-color);
}

.mobile-layout .book-cover {
  position: relative;
  height: var(--separator-height);
  width: calc(var(--mobile-width) * 2);
  left: -52.5%;
  border-top-left-radius: var(--mobile-radius);
  border-top-right-radius: var(--mobile-radius);
  transform-style: preserve-3d;
  transform-origin: 50% 40%;
  transition: var(--transition);
  z-index: 4;
}
.mobile-layout .book-top {
  width: 170px;
  position: absolute;
  top: 180px;
  left: 250px;
  z-index: 5;
  transform: translateZ(28.5px);
}
.mobile-layout .book-side {
  position: absolute;
  top: 430px;
  left: 222px;
  transform: translateY(-15px) translateX(0px) translateZ(15px) rotateX(104deg);
}

.title {
  text-decoration: none;
  color: black;
}
.title:hover {
  text-decoration: underline;
  color: black;
}
.author,
.body {
  font-style: italic;
  margin-bottom: 20px;
  visibility: hidden;
}

.mobile-layout .book-cover:hover {
  transform: rotateX(75deg) translateZ(3px) scale(0.75);
}

.mobile-layout .book-cover:hover + .preface {
  transform: translateY(-302px);
}
.mobile-layout .book-cover:hover + .preface .icon {
  transform: rotateX(180deg);
}
.mobile-layout .preface {
  height: var(--separator-height);
  padding: 50px;
  transition: var(--transition);
  background: white;
}
.mobile-layout .preface .header {
  display: flex;
  align-items: center;
}
.mobile-layout .preface .title {
  font-size: 26px;
  margin-bottom: 10px;
}

.mobile-layout .preface .icon {
  transform-origin: top;
  transition: var(--transition);
}

.book-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.book-authors {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.book-cover {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
